<h1><%= link_to @subject.name, [:admin, @subject] %></h1>
<hr/>
<div class="row">
  <table class="table table-bordered table-striped" id="table">
    <thead>
      <tr class="info">
        <th class="center"><%= t ".content" %></th>
        <th class="center"><%= t ".question_type" %></th>
        <th class = "center"><%= t ".create_by" %></th>
        <th class="center" colspan="2"><%= t ".action" %></th>
      </tr>
    </thead>
    <tbody class="subject-index">
      <% @questions.each do |question| %>
        <tr>
          <td>
            <%= link_to question.content, "#", id: "flip-#{question.id}" %>
          </td>
          <td class="center"><%= question.answer_type %></td>
          <td class="center"><%= question.user.name %></td>
          <td>
            <%= link_to t(".edit_button"),
              edit_admin_question_path(question),
              class: "btn btn-info icon-trash icon-white" %>
            <%= link_to t(".delete_button"), admin_question_path(question),
              method: :delete, data: {confirm: t(".delete_question_confirm")},
              class: "btn btn-danger icon-trash icon-white" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
