<% @questions.each do |question| %>
  <tr>
    <td><%= link_to question.content, [:admin, question] %></td>
    <td><%= question.user.name %></td>
    <td><%= question.status %></td>
    <td>
      <%= link_to t(".edit"), edit_admin_question_path(question.id),
        remote: true, class: "btn btn-primary" %>
      <%= link_to t(".delete"), admin_question_path(question),
        method: :delete, data: {confirm: t(".delete_question_confirm")},
        class: "btn btn-danger" %>
    </td>
  </tr>
<% end %>
